<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    <h1>ADD PRODUCT DETAILS</h1>
    <form enctype="multipart/form-data" method="post" action="{% url 'add_product' %}">
        {% csrf_token %}
        {% load static %}
        <label>Product name:</label><br><br>
        <input type="text" name="pname" placeholder="Enter product name"><br><br>
        <label>Quantity:</label><br><br>
        <input type="number" name="qty" placeholder="Enter product quantity"><br><br>
        <label>Price:</label><br><br>
        <input type="number" name="prc" placeholder="Enter product price"><br><br>
        <label>Image:</label><br><br>
        <input type="file" name="file" accept="image/*"><br><br>
        <button type="submit">Submit</button><br><br>
    </form>
</body>
</html>