<html lang="en">
    <head>
        <title>
            Image
        </title>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> 

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
        <body>
            <div class="container mt-5">
                <h1 class="alert alert-dark text-center">
                    *SHOW PRODUCT DETAILS*
                    <a role="button" class="btn btn-outline-dark" href="{% url 'index' %}">Add</a>
                </h1>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <table class="table text-center ">
                            <thead>
                                <tr>
                                    <th scope="col">PRODUCT NAME</th>
                                    <th scope="col">QUANTITY</th>
                                    <th scope="col">PRICE</th>
                                    <th scope="col">IMAGE</th>
                                    <th scope="col">ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for p in prdts %}
                                <tr>
                                    <td class="pt-4">{{ p.product_name}}</td>
                                    <td class="pt-4">{{ p.price}}</td>
                                    <td class="pt-4">{{ p.quantity}}</td>
                                    <td>
                                        {{ p.image }}<br>
                                        <img src="{{ p.image.url }}" class="w-25">
                                    </td>
                                <td>
                                    <a rol="button" class="btn btn-outline-dark btn-sm" href="{% url 'editpage' p.id %}">EDIT</a>
                                
                                    <a rol="button" class="btn btn-outline-dark btn-sm" href="{% url 'delete' p.id %}">DELETE</a>

                                </td>
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </body>
        </html>